{%  extends "shop/base.html" %}
{%  load static %}
{%  block metadescription %}
    {%  if category %}
        {{ category.description|truncatewords:155 }}
    {% else %}
        Welcome to the cushion store where you can buy comfy and awesome cushions.
    {%  endif %}
{%  endblock %}
{%  block title %}
    {%  if category %}
        {{  category.name }} - Perfect Cushion Store
    {% else %}
        See Our Cushion Collection - Perfect Cushion Store
    {%  endif %}
{%  endblock %}

{% block content %}
    <!--Breadcrumb navigation-->
    {%  if category %}
        <div class="row my_row_class">
            <div class="mx-auto">
                <p><a href="{%  url 'shop:allProdCat' %}">Our Product Collection</a> |  {{category.name}}</p>
            </div>
        </div>
    {%  endif %}
    <div class="mx-auto">
    {%  if category %}
        <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
    </div>
    <br>
    <div>
        <h1 class="text-center my_title">{{category.name}}</h1>
        <p class="text-justify">{{category.description}}</p>
    </div>
    {%  else %}
        <img class="my_image my_image_padding" src="{%  static 'img/banner.jpg' %}" alt="Our Products Collection">
    </div>
    <br>
    <div>
        <h1 class="text-center my_title">Our Products Collection</h1>
        <p class="text-justify">A cushion is a soft bag of some ornamental material, stuffed with wool, hair, feathers, polyester staple fiber, non-woven material, or even paper torn into fragments. It may be used for sitting or kneeling upon, or to soften the hardness or angularity of a chair or couch.[1] Decorative cushions often have a patterned cover material, and are used as decoration for furniture.

A cushion is also referred to as a bolster, hassock, headrest and a sham.[2]

Cushions and rugs can be used temporarily outside to soften a hard ground. They can be placed on sunloungers and used to prevent annoyances from moist grass and biting insects. Some dialects of English use this word to refer to throw pillows as well.

The cushion is a very ancient article of furniture; the inventories of the contents of palaces and great houses in the early Middle Ages constantly made mention of them. Cushions were then often of great size, covered with leather, and firm enough to serve as a seat, but the steady tendency of all furniture has been to grow smaller with time. Today, the cushion is considered an upholstery item. </p>
    <hr>
    </div>
    {%  endif %}
    <div>
        <div>
            {%  for product in products %}
                <div>
                    <div>
                        <a href="{{ product.get_url }}"><img src="{{product.image.url}}" alt=""{{productname}}></a>
                        <div>
                            <h4>{{product.name}}</h4>
                            <p>${{product.price}}</p>
                        </div>
                    </div>
                </div>
            {%  endfor %}
        </div>
    </div>
{% endblock %}